:root {
    --blue-main-background: hsl(222, 26%, 31%);
    --blue-display-background: hsl(224, 36%, 15%);
    --blue-keypad-background: hsl(223, 31%, 20%);

    --blue-key-background: hsl(225, 21%, 49%);
    --blue-key-shadow: hsl(224, 28%, 35%);

    --red-key-background: hsl(6, 63%, 50%);
    --red-key-shadow: hsl(6, 70%, 34%);

    --white-key-background: hsl(30, 25%, 89%);
    --white-key-shadow: hsl(28, 16%, 65%);

    --dark-blue-text: hsl(221, 14%, 31%);
    --white-text: hsl(0, 0%, 100%);
}

.theme1 {
    background-color: var(--blue-main-background);
    color: var(--white-text);
}

.theme1 .themeToggle {
    background-color: var(--blue-keypad-background);
}

.theme1 input:checked {
    background-color: var(--red-key-background);
}

.theme1 input:checked:hover {
    background-color: var(--red-key-shadow);
}

.theme1 .display {
    background-color: var(--blue-display-background);
}

.theme1 .btnContainer {
    background-color: var(--blue-keypad-background);
}

.theme1 button {
    color: var(--dark-blue-text);
    background-color: var(--white-key-background);
    box-shadow: 0px 3px 0px 0px var(--white-key-shadow);
}

.theme1 .upBtn button:nth-child(4) {
    color: var(--white-text);
    background-color: var(--blue-key-background);
    box-shadow: 0px 3px 0px 0px var(--blue-key-shadow);
}

.theme1 .botBtn button:first-child {
    color: var(--white-text);
    background-color: var(--blue-key-background);
    box-shadow: 0px 3px 0px 0px var(--blue-key-shadow);
}

.theme1 .botBtn button:last-child {
    color: var(--white-text);
    background-color: var(--red-key-background);
    box-shadow: 0px 3px 0px 0px var(--red-key-shadow);
}
